# if use rockchip vendor kernel, fix rknpu invalid iommu domain
[[ $BOARDFAMILY == rockchip-rk3588 && $BRANCH == vendor ]] && KERNELSOURCE=https://github.com/Pelochus/linux-rockchip-npu-updates
[[ $BOARDFAMILY == rockchip-rk3588 && $BRANCH == vendor ]] && KERNELBRANCH=branch:rk-6.1-rknpu-0.9.8
[[ $BOARDFAMILY == rockchip-rk3588 && $BRANCH == vendor ]] && LINUXCONFIG=linux-rk35xx-vendor
